/* Reset some values*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 576px) {
  body {
    min-width: 310px;
  }
}

/************
** Header **
************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4%;
  height: 100px;
}

.navbar {
  display: flex;
  flex-basis: 40%;
  justify-content: space-between;
  flex-direction: row-reverse;
  text-align: center;
}

.navbar_links {
  display: flex;
  justify-content: space-between;
  flex-basis: 66%;
}

.navbar_links > li {
  flex-basis: 50%;
  padding: 0 20px;
}

.navbar_register {
  flex-basis: 33%;
}

.navbar_register > li {
  padding: 0 20px;
}

.nav_register {
  color: #0065fc;
  font-weight: bold;
}

.nav_link:hover {
  color: #0065fc;
}

.nav_hoverDesktop:hover {
  box-shadow: 0 -37px white, 0 -45px #0065fc;
}

@media screen and (max-width: 576px) {
  header {
    margin: 0;
    height: 150px;
    display: block;
    position: relative;
  }

  .logo_img {
    margin: 20px 0 15px 20px;
  }

  .navbar {
    display: unset;
  }

  .navbar_register {
    position: absolute;
    top: 35px;
    right: 10px;
  }

  .navbar_links {
    justify-content: space-evenly;
    padding-top: 20px;
  }

  .navbar_links > li {
    font-size: 16px;
    box-shadow: 0 10px white, 0 13px #f2f2f2;
  }

  .navbar_register > li:hover {
    box-shadow: none;
  }

  .navbar_links > li:hover {
    box-shadow: 0 10px white, 0 13px #0065fc;
  }
}

/*****************
** Main content **
*****************/

/**** SECTION SEARCH-LODGING ****/
#search_lodging {
  margin: 0 4%;
}

#search_lodging h1,
#search_lodging p {
  margin: 10px 0;
}

#search_lodging p {
  margin-bottom: 0;
  height: 2.5em;
}

/**** div searchbar ****/
.searchbar {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px 0;
}

.searchbar_pinhead {
  height: 50px;
  min-width: 50px;
  width: 50px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  order: -1;
}

.searchbar_pinhead > .fas {
  padding: 15px 35%;
}

.searchbar_input {
  border-right: none;
  border-left: none;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

.searchbar_button {
  width: 130px;
  font-size: large;
  color: white;
  background-color: #0065fc;
  border: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.searchbar_button > .hide-sm {
  display: none;
}

.searchbar_pinhead > .fas:hover {
  transition: transform 0.3s;
  transform: scale(1.2);
}

.searchbar_input:focus {
  outline: none;
}

.searchbar_input:focus,
.searchbar_input:focus ~ div {
  border: 3px solid #0065fc;
}

.searchbar_input:focus {
  border-left: none;
  border-right: none;
}

.searchbar_input:focus ~ div {
  border-right: none;
}

.searchbar_button:hover {
  transition: border 100ms;
  background-color: #deebff;
  color: #0065fc;
  border: 3px solid #0065fc;
}

.searchbar_button:active {
  transition: border 10ms;
  border: 5px solid #0065fc;
}

@media all and (max-width: 576px) {
  #search_lodging > h1 {
    font-size: 1.3em;
  }
  #search_lodging > p {
    font-size: 1em;
  }

  .searchbar {
    flex: 1;
  }

  .searchbar_input {
    width: 100%;
  }

  .searchbar_button {
    min-width: 50px;
    width: 50px;
    border-radius: 10px;
    transform: translateX(-5px);
  }

  .searchbar_button > .hide-sm {
    display: unset;
  }

  .searchbar_button > .hide-lg {
    display: none;
  }
}

/**** div filters ****/
.filters {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  margin: 30px 0;
}

.filters_list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.filters_list > li {
  display: flex;
  position: relative;
  align-items: center;
  list-style: none;
  height: 50px;
  margin: 5px 10px;
}

.filters [type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.filters_label {
  height: 100%;
  font-weight: bold;
  border: 2px solid #d9d9d9;
  border-left: none;
  border-radius: 25px;
}

.filters_label > span:nth-child(2) {
  padding: 0 20px 0 10px;
}

.filters .fas {
  min-width: 45px;
  max-width: 45px;
  height: 100%;
  background-color: #deebff;
  border-radius: 25px;
}

.filters .fas:before {
  display: block;
  text-align: center;
  color: #0065fc;
  margin: 0.7em 0;
}

.search_result {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.search_result .fa-info {
  padding: 5px 10px;
  margin-right: 10px;
  text-align: center;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  color: #0065fc;
}

.filters_input:focus ~ label {
  box-shadow: 3px 2px 10px 2px #deebff;
}

.filters_label:hover {
  transition: transform 0.3s, background-color 0.3s;
  background-color: #deebff;
  transform: scale(1.05);
  border: 2px solid transparent;
  border-radius: 25px;
  border-left: none;
}

.filters_input:checked:not(:hover) ~ label {
  background-color: #deebff;
  border-radius: 25px;
  border: 2px solid transparent;
  border-left: none;
}

.filters_input:checked:hover ~ label {
  background-color: #deebff;
  border-radius: 25px;
  border: 2px solid transparent;
  border-left: none;
}

@media all and (max-width: 768px) {
  .filters {
    display: block;
  }

  .filters > h2 {
    margin-bottom: 0;
    font-size: 20px;
  }

  .filters_list {
    padding-left: 0;
    margin-top: 0;
  }

  .filters_list > li {
    margin: 10px 15px 0 0;
  }

  .filters_list > li:hover {
    transform: scale(1.05);
  }
}

/**** SECTION LOD-POP ****/
#lod-pop {
  display: flex;
  margin: 0 4%;
}

#lod-pop h3 {
  font-size: 16px;
}

#lod-pop p {
  font-size: 14px;
}

.grey-bg {
  background-color: #f2f2f2;
}

.note {
  color: #0065fc;
  font-size: 13px;
}

.note .grey-icon {
  color: #dbdada;
}

@media screen and (max-width: 1220px) {
  #lod-pop {
    flex-direction: column-reverse;
    margin: 0 0;
  }
}

/**** div lodging ****/
.lodging {
  flex-basis: 66%;
  margin-right: 3%;
  border-radius: 20px;
  position: relative;
  padding: 15px 40px;
}

.lodging > h2 {
  margin-top: 19px;
  margin-bottom: 25px;
  white-space: nowrap;
}

.lodging_flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
  gap: 15px;
}

.lodging_card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(151, 151, 151);
  flex-basis: 31%;
  flex-grow: 1;
}

.lodging_img {
  padding: 5px 5px 0 5px;
}

.lodging_img > img {
  min-width: 200px;
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: 0 70%;
  border-radius: 15px 15px 0 0;
}

.lodging_desc > * {
  margin: 0 0 5px 0;
}

.lodging_desc {
  margin: 0 0 10px 10px;
}

.show_more {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 20px;
  font-size: 15px;
  font-weight: bold;
}

.lodging_card:hover {
  transition: transform 300ms, box-shadow 300ms;
  transform: translate(-5px, -3px);
  box-shadow: 5px 5px 5px 5px rgb(114, 114, 114);
}

.show_more:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 1220px) {
  .lodging {
    margin: 20px 4%;
    padding: 0 20px;
  }

  .lodging > * {
    margin: 0 15px;
  }

  .show_more {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (max-width: 820px) {
  .lodging {
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .lodging > h2 {
    white-space: normal;
    margin-top: 40px;
  }

  .lodging_flexbox {
    padding-bottom: 80px;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    gap: 15px;
  }

  .lodging_card {
    max-width: unset;
  }
}

/**** div popular ****/
.popular {
  flex-basis: 31%;
  border-radius: 20px;
}

.popular > * {
  margin: 15px 35px;
}

.popular_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 33px 35px 24px 35px;
}

.popular_card {
  max-height: 144px;
  min-width: 275px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(151, 151, 151);
  margin-bottom: 20px;
}

.popular_card > a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.popular_card img {
  border-radius: 20px 0 0 20px;
  padding: 5px 0 5px 5px;
  width: 125px;
  height: 130px;
  min-width: 125px;
}

.popular_desc {
  position: relative;
}

.popular_desc > * {
  margin: 10px 10px;
}

.popular_desc .note {
  position: absolute;
  bottom: 0;
}

.popular_card:hover {
  transition: transform 300ms, box-shadow 300ms;
  transform: translate(-5px, -3px);
  box-shadow: 5px 5px 5px 5px rgb(114, 114, 114);
}

@media screen and (max-width: 1220px) {
  .popular {
    margin: 0 4%;
  }

  .popular_flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
  }

  .popular_card {
    margin-bottom: 0;
    flex-basis: 30%;
    flex-grow: 0.5;
  }
}

@media screen and (max-width: 820px) {
  .popular {
    border-radius: unset ;
    margin: 0;
  }

  .popular > * {
    margin: 15px 20px;
  }

  .popular_flexbox {
    flex-direction: column;
  }

  .popular_card {
    margin-bottom: 15px;
    margin: 0 0 0 0;
  }
}

/**** SECTION ACTIVITIES ****/
#activities {
  margin: 50px 4%;
}

#activities > h2 {
  margin: 30px 0;
}

.grid-bg {
  border-radius: 25px;
  box-shadow: 5px 5px 20px rgb(185, 185, 185);
  overflow: hidden;
}

.activities_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 35px;
}

.activities_subgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 20px 20px 20px 200px;
  grid-gap: 35px;
}

.activities_card {
  position: relative;
  min-width: 245px;
}

.activities_card:nth-child(1) {
  grid-column: 1;
  grid-row: 1/6;
}

.activities_subgrid:nth-child(1) > .activities_card:nth-child(2) {
  grid-column: 2;
  grid-row: 1/5;
}

.activities_subgrid:nth-child(1) > .activities_card:nth-child(3) {
  grid-column: 2;
  grid-row: 5/6;
}

.activities_subgrid:nth-child(2) > .activities_card:nth-child(2) {
  grid-column: 2;
  grid-row: 1/3;
}

.activities_subgrid:nth-child(2) > .activities_card:nth-child(3) {
  grid-column: 2;
  grid-row: 3/6;
}

#activities img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activities_grid h3 {
  position: absolute;
  height: 60px;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding: 15px 10px;
  margin: 0;
}

.activities_card:hover {
  transition: transform 300ms, box-shadow 300ms;
  transform: translate(-5px, -3px);
  box-shadow: 5px 5px 5px 5px rgb(114, 114, 114);
}

@media screen and (max-width: 1200px) {
  .activities_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .activities_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 15px;
  }

  .activities_grid h3 {
    padding-top: 15px;
  }

  .activities_subgrid {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .activities_card {
    min-width: 280px;
    height: 250px;
  }
}

/***********
** Footer **
***********/

footer {
  display: flex;
  background-color: #f2f2f2;
  padding: 35px 4%;
}

.footer_list {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.footer_list > li {
  margin: 10px 0;
}

.footer_list h3 {
  margin-bottom: 15px;
}

.footer_link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  footer {
    flex-direction: column;
  }
}
