/* Reset some values*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
  list-style: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4%;
  height: 100px;
}

.linklogo {
  display: block;
  min-width: 90px;
  width: 10%;
}

.logo {
  max-height: 100%;
}

nav {
  display: flex;
  flex-basis: 40%;
  justify-content: space-between;
  flex-direction: row-reverse;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-basis: 66%;
}

.navbar li {
  flex-basis: 50%;
  padding: 0 20px;
}

.register {
  flex-basis: 33%;
}

.register li {
  padding: 0 20px;
}

a.registerlink {
  color: #0065fc;
  font-weight: bold;
}

a.navlink:hover {
  color: #0065fc;
}

.hovernavdesktop:hover {
  box-shadow: 0 -37px white, 0 -45px #0065fc;
}

@media screen and (max-width: 576px) {
  header {
    margin: 0;
    height: 150px;
    display: block;
    position: relative;
  }

  .logo {
    margin: 20px 0 15px 20px;
  }

  nav {
    display: unset;
  }

  .register {
    position: absolute;
    top: 35px;
    right: 10px;
  }

  .navbar {
    justify-content: space-evenly;
    padding-top: 20px;
  }

  .navbar li {
    font-size: 16px;
    box-shadow: 0 10px white, 0 13px #f2f2f2;
  }

  .register li:hover {
    box-shadow: none;
  }

  .navbar li:hover {
    box-shadow: 0 10px white, 0 13px #0065fc;
  }
}

/* Main content */
/* Section Menu */
#menu {
  margin: 0 4%;
}

#menu h1,
#menu p {
  margin: 10px 0;
}
/* div searchbar */
.searchbar {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 0;
}

.pinhead {
  height: 50px;
  width: 50px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
}

.pinhead > i {
  padding: 17px 35%;
}

.pinhead > i:hover {
  transition: transform 0.3s;
  transform: scale(1.2);
}

.searchbar input {
  border-right: none;
  border-left: none;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

.searchbar input:focus {
  outline: none;
}

.searchbar button {
  width: 130px;
  font-size: large;
  color: white;
  background-color: #0065fc;
  border: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.searchbar button:hover {
  border: 2px solid #f2f2f2;
}

.searchbar button:active {
  background: #deebff;
  color: #0065fc;
}

.searchbar button.hidesm {
  display: none;
}

@media all and (max-width: 576px) {
  .searchbar {
    flex: 1;
  }

  .searchbar input {
    width: 80%;
  }

  .searchbar button {
    width: 50px;
  }

  .searchbar button.hidesm {
    display: unset;
  }

  .searchbar button.hidelg {
    display: none;
  }
}

/* div filters */
.filters {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin: 30px 0;
  }
  
  .filters > ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
  }
  
  .filters > ul > li {
    display: flex;
    list-style: none;
    height: 50px;
    margin: 5px 10px;
    border: 2px solid #d9d9d9;
    border-left: none;
    border-radius: 25px;
    align-items: center;
  }
  
  .filters > ul > li:hover {
    transition: transform 0.3s, background-color 0.3s;
    background-color: #deebff;
    transform: scale(1.1);
    border: unset;
  }
  
  .filters > ul > li > div {
    min-width: 50px;
    width: 50px;
    height: 100%;
    background-color: #deebff;
    border-radius: 25px;
    transform: scale(1.1);
  }
  
  .filters > ul > li > p {
    padding: 0 20px 0 10px;
    font-weight: bold;
  }
  
  .filters i {
    color: #0065fc;
    display: block;
    text-align: center;
    margin: 16px 0;
  }
  
  .search-result {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  
  .search-result .fa-info {
    padding: 5px 10px;
    margin-right: 10px;
    text-align: center;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    color: #0065FC;
  }
  
  @media all and (max-width: 768px) {
    .filters {
      display: block;
    }
  
    .filters > h2 {
      margin-bottom: 0;
      font-size: 20px;
    }
  
    .filters > ul {
      padding-left: 0;
      margin-top: 0;
    }
  
    .filters > ul > li {
      margin: 10px 10px 0 0;
    }
  
    .filters > ul > li:hover {
      transform: scale(1.05);
    }
  }
  

/* Footer */
